[submodule "themes/academic"]
	path = themes/academic
	url = https://github.com/gcushen/hugo-academic.git
[submodule "pythagoraswitch.github.io"]
	path = pythagoraswitch.github.io
	url = https://github.com/pythagoraswitch/pythagoraswitch.github.io.git
	branch = master
